@import '../../App.scss';

#pricingCard{
   min-height:600px;
   background-position:center;
background-size:cover;
color:$textColor;
    position:relative;
}
#purshesBtn{
     background-color: $bgColor;
     padding:10px 45px;
     margin-top:20px 
}