h1,h2,h4,h6{
    font-weight: 800;
}
#ui-list{
    color: white;
    text-align: left;
    padding: 20px 10px;
}
#ui-list ul{
    padding-left: 0px;
}
#ui-list ul li{
list-style: none;

padding-left: 0px;
padding: 3px 0px;
}
#ui-list h6{
text-align: left;
}
#icons{
  
   padding: 20px 0px;
}
#icons svg{
    font-size: 20px;
    color: white;
}
#dateStyle{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1),-5px -5px 10px rgba(0, 0, 0, 1);
}